NODE_ENV=development
PORT=3000

# Database Configuration 
DATABASE_HOST=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=
DATABASE_PORT=

# JWT Secret Keys and Expiration Times
JWT_ACCESS_TOKEN_SECRET=this_is_a_simple_secret_key
JWT_REFRESH_TOKEN_SECRET=this_is_a_simple_secret_key
JWT_ACCESS_TOKEN_EXPIRES_IN=5m
JWT_REFRESH_TOKEN_EXPIRES_IN=1d